.item1 { 
    display:grid;
    grid-area: header;
    line-height: 100px;
  text-align: center;
  
 }
.item2 { grid-area: menu; }
.item3 { grid-area: main;
  
 }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    height: 98vh;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'menu menu footer footer footer footer';
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 20px 0;
  font-size: 80px;
}
span {
    margin: auto;
  }

.innerDiv {
  height: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:  400px ;/*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 10px;
   /*align-content: space-evenly;*/
   text-align:left;
   
  }
  .innerDiv > div {
    background-color: rgba(150, 79, 128, 0.8);
    border: 2px solid darkgrey;
    padding: 10px 50px;
    font-size: 20px;
    
  }

  #temperature{
    height: 50%;
    width:90%;
    font-size: 20px;
    padding: 2px;
    margin-bottom:10px;
    text-align: center;
  }

  #enterTemp{
    height:60%;
    
  }

 

  /*#selectRadio >input{
    line-height: 20px;
    margin:2px;
    text-align: left;
    font-size: 15px;
    
  }*/
#converted{
  background-color: white;
  font-size:30px;
  justify-content: center;
  align-content: center;
  height: 50%;
  display: grid;
 margin-top:5px;
 
  width:92%;
  
}
  
#radioForm > input{
  margin-top: 20px;
}
#reset {
  font-size: 20px;
  margin-top:20px;

}

#conversionbtn{
  height: 100%;
  font-size: 20px;
  padding:0px;
  background-color: rgb(77, 140, 223);
  cursor: pointer;
}